#tab1,#tab2{
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align:center;
}

th {
  background-color:goldenrod;
}
tr:hover {
  background-color: #ddd;
}
.Map{
  border: solid 5px goldenrod;
}
@media screen and (max-width:850px) {
    #tab1{
      border-collapse: collapse;
      width: 90%;
      height: 80%;
    }
    #tab2 {
      width: 90%;
      height: 90%;
      object-fit: cover;
    }
    
    #div_tab2 table {
      width: 250px;
      height: 200px;
      border-collapse: collapse;
    }
    
    #div_tab2 td, #div_tab2 th {
      padding: 0px;
      border: 1px solid goldenrod;
      text-align: center;
      font-size: 0.8rem;
  font-weight: 400;
    }
    
    .Map{
      width: 80%;
    }
    
}

