.Hero{
  width:100vm; /* Adjust to the desired width */
  height: 100%;
}
img{
  width: 100%; /* Make sure the image fills the container horizontally */
  height:600px; /* Adjust to the desired height */
  object-fit: cover;
}
.HeroText{
  position: absolute;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.HeroText h1{
  font-size: 5rem;
  font-weight: 800;
  color: azure;
  text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.HeroText p{
  font-size: 2rem;
  color: azure;
  padding: 0rem 0 2rem 0;
  font-weight: 700;
  text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.ReserveBtnClass{
  text-decoration: none;/* eliminer le soutitrage*/
  background-color: #fff;
  padding: 1rem 2rem ;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 1px;
}
.ReserveBtnClass:hover{
  background-color: #01959a;
  color: #fff;
}


.fleche-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Adjust width and height as needed */
  height: 70px; /* Adjust width and height as needed */
  border-radius: 50%; /* Make it circular */
  background-color: #ffffff; /* Background color */
  border: 2px solid #ffffff; /* Border color */
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 40px;
  box-shadow:0px 15px 15px 0px rgba(0, 0, 0, .25);

}

.fleche-link:hover {
  background-color: #01959a; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
}

.fleche-link i {
  font-size: 30px; /* Adjust the fleche icon size */
}











@media screen and (max-width:555px) {
  .HeroText h1{
    padding: 10px 20px;
    font-size: 2.5rem;
  }
  .HeroText p{
    padding: 0 0 2rem 0;
    font-size: 1.1rem;
  }
.ReserveBtnClass{
    padding: 0.6rem 1.1rem;
  }
}